name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
      - run: npm ci
      - run: npx elm make --docs docs.json
      - run: npx elm-format --validate src/
      - run: npx elm-review
